@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('blogpost.css');
@import url('responsive.css');
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.container1{
    background: #F9F9FA;
    padding: 20px;
    text-align: center;
}
/*navigation bar*/
nav {
    list-style-type: none;
    margin: 2%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left,rgba(17, 22, 26, 0.2), white,rgba(17, 22, 26, 0.2)); 
}
nav >li >h1 {
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 4px rgba(17, 22, 26, 0.7);
}
nav > li > a {
    color:#000;
}
/*--------------------*/


/*footer*/
footer{
    background: rgba(17, 22, 26, 0.2);
    margin: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5%;
}
/*------------------------------*/

@media(min-width: 768px) {
    .container1{
        width: 70%;
        margin: 0 15%; 
        text-align: left;
       
    }
    .container{
        width: 80%;
        margin: 0 10%;
        background: #F9F9FA;
    }
    .card-image {
    width: 20%;
    border-radius: 50%;
    float: right;
    margin: 0 10px 10px 0;
    }
    .small {
        display: none;
        float: right;
                
    }
    .big {
        display: block;
        margin-left: 10px;
    }
    .sidebar {
        margin: 0 20px 0 30px;
        background: rgba(17, 22, 26, 0.05);
        padding: 10px;
    }
    nav {
        list-style-type: none;
        margin: 25px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(to left,rgba(17, 22, 26, 0.2), white,rgba(17, 22, 26, 0.2));
    }
    .about {
      background: rgba(17, 22, 26, 0.1);
      border-radius: 10px;
      padding: 10px;
      box-shadow: 10px 10px 15px 1px rgba(17, 22, 26, 0.2);
      margin: 0px 30px 30px 0;
      text-align: center;
    }
}
